@media only screen and (max-width: 600px) {

   
    .images {
        max-width: 100%;
        max-height: 100%;
        min-width: 100%;
        min-width: 100%;
    }
}


.font{
     
      color: #2b2b2b;


}
.background { background-image: url("assets/BuckLogo.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: black;
    background-size: 40%;
    background-position: center;

    width: 100%;
    height: 100%;


}


.flex {

    display: flex;
    flex-wrap: wrap;
}

.fb {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
    height: 600px;
    margin: 50px;
    overflow: hidden;
    border: none;

}
.nav {

margin:0 auto;
text-align: center;
}



.images {
        border-top-left-radius: 80% 80%;
        border-top-right-radius: 80% 80%;
        border-bottom-right-radius: 80% 80%;
        border-bottom-left-radius: 80% 80%;
        max-width: 30%;
        max-height:30%;
      }


.margin{
margin: 20px;
}

.map {
    text-align: center;
    margin: auto;
    display: block;
}



h1,h2, h3 {
    
    font-family: 'Pieces of Eight' !important;
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/scss/Pieces Of Eight/Pieces of Eight.ttf');

    src: local('Pieces of Eight'), local('Pieces of Eight'),

         url('../../assets/scss/Pieces Of Eight/Pieces of Eight.ttf') format('truetype');

}