.font{
      font-family: 'Berkshire Swash', Helvetica, sans-serif;
      color: #2b2b2b;
      text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);


}
.flex {

    display: flex;
}


.images {
        border-top-left-radius: 80% 80%;
        border-top-right-radius: 80% 80%;
        border-bottom-right-radius: 80% 80%;
        border-bottom-left-radius: 80% 80%;
        max-width: 30%;
        max-height:30%;
      }
.margin{

    margin:20px;
}

.map {
    text-align: center;
    margin: auto;
    display: block;
}